<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skyline: Short Term Rentals</title>
</head>
<body>
    <p id="photo-title">Photos:</p>
    <div id="img-display-wrapper">
        <div id="img-display" ng-repeat='image in images'>
            <img data-ng-src={{image.base64}} ng-click="remove($index)">
        </div>
        <div id="img-upload">
            <input type='file' file-model="myFile">
        </div>
    </div>
    <div id="address-input-wrapper">
        <p>Address:</p>
        <input  type="text"
                ng-model="address"
                places-auto-complete
                component-restrictions="{country:'us'}"
                types="{{types}}"
                on-place-changed="placeChanged()">
        <ng-map center="[40.785,-73.968]"></ng-map>
    </div>
    <div id="description-wrapper">
        <p>Description:</p>
        <textarea name="" cols="120" rows="30" ng-model="description"></textarea>
    </div>
    <div id="post-button-wrapper">
        <button class="button post-button" ng-click="send()">Post New Rental</button>
    </div>
</body>
</html>
