<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skyline: Short Term Rentals</title>
</head>
<body>
    <div id="img-display-wrapper">
        <div id="img-display" ng-repeat='image in images'>
            <div>
                <img class='display' data-ng-src={{image.base64}} ng-click="remove($index)">
            </div>
        </div>
        <div id="img-upload">
            <input type='file' file-model="myFile">
        </div>
    </div>
    <div id="address-input-wrapper">
        <p>Address:</p>
        <input type="text" ng-model="address" required>
    </div>
    <div id="description-wrapper">
        <p>Description:</p>
        <textarea name="" cols="120" rows="30" ng-model="description"></textarea>
    </div>
    <div id="post-button-wrapper">
        <button class="button post-button" ng-click="send()">Post New Rental</button>
    </div>
</body>
</html>
