<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Skyline: New York Rental for Students</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-touch.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.10.3/TweenMax.min.js"></script>
</head>
<body ng-app="skyline-discover">
    <div id="header">
        <div id="header-top">
          <div id="header-menu">
              <ul>
                  <li><a href="#/discover">Home</a></li>
                  <li><a href="#/discover">Discover</a></li>
                  <li><a href="#">Favorites</a></li>
                  <li><a href="#">Login</a></li>
                  <li><a href="#/post">Post</a></li>
              </ul>
          </div>
        </div>
        <div id="header-down"></div>
    </div>
    <div id="main" ng-controller="rentalDiscoverController">
        <div id="main-left" class="floating">
            <div id="map-container">
                <!-- <div  map-lazy-load="https://maps.googleapis.com/maps/api/js?key=AIzaSyAXyVVSnP8Rv-yVGEVKLdoLCJAOKeZEPpk&callback=initMap" -->
                      <!-- map-lazy-load-params=""> -->
                <ng-map style="height:600px" center="40.785,-73.968" zoom="12">
                    <marker ng-repeat="r in rentals" position="{{r.latitude}},{{r.longitude}}"></marker>
                    <custom-marker ng-repeat="r in rentals" position="{{r.latitude}},{{r.longitude}}">
                        <div>address: {{r.address}}</div>
                    </custom-marker>
                </ng-map>
                <!-- </div> -->
            </div>
        </div>
        <div id="main-right" class="floating">
            <div id="item-scroll">
                <div class="item-container" ng-repeat="rental in rentals" ng-init="rental_index=$index">
                    <div class="img-container">
                        <a target="_self" ng-href="#/detail/{{rental.id}}">
                            <img ng-repeat="slide in rental.imageIds" ng-init="slide_index=$index" ng-hide="!isCurrentSlideIndex(rental_index, slide_index)" ng-src="{{baseURL}}/{{bucketName}}/{{slide}}">
                        </a>
                        <input class="arrow-prev" type="image" src="../asset/image/arrow_prev_24.png" ng-click="prevSlide(rental_index)">
                        <input class="arrow-next" type="image" src="../asset/image/arrow_next_24.png" ng-click="nextSlide(rental_index)">
                    </div>
                    <div class="text-container">
                        <p class="text-price">${{rental.price}}</p>
                        <p class="text-quantifier">per {{rental.quantifier}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
