<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skyline: Short Term Rentals</title>
    <!--<link href="detail.css" rel="stylesheet" type="text/css" >-->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-touch.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.10.3/TweenMax.min.js"></script>
    <script src="detail.js"></script>
</head>
<body ng-app="skyline-detail">
<div id="header">
    <div id="header-up">
        <div id="header-icon"><img src="../image/icon.png"></div>
        <div id="header-menu">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Discover</a></li>
                <li><a href="#">Favorites</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </div>
    </div>
</div>
<div id="body">
    <div id="body-left" ng-controller="imageSlideController">
        <div id="body-left-img">
            <div id="img-slider">
                <img ng-repeat="slide in slides"
                     ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()"
                     ng-hide="!isCurrentSlideIndex($index)" ng-src="../{{slide}}">
                <a class="arrow prev" ng-click="nextSlide()"></a>
                <a class="arrow next" ng-click="prevSlide()"></a>
                <nav class="nav">
                    <div class="wrapper">
                        <ul class="dots">
                            <li class="dot" ng-repeat="slide in slides">
                                <a ng-class="{'active':isCurrentSlideIndex($index)}"
                                   ng-click="setCurrentSlideIndex($index);"></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div id="body-left-info"></div>
        <div id="body-left-desc"></div>
    </div>
    <div id="body-right">
    </div>
</div>
</body>
</html>
