<!DOCTYPE html>
<html xmlns:style="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Skyline: New York Rental for Students</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-touch.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.10.3/TweenMax.min.js"></script>
</head>
<body ng-app="skyline-discover">
<div ng-controller="rentalDiscoverController">
    <div id="header">
        <div id="header-top">
            <div id="header-icon">
                <label>Skyline</label>
            </div>
            <div id="header-search">

            </div>
            <div id="header-menu">
                <ul>
                    <li><a href="#/discover" style="color:white;opacity:0.9">Home</a></li>
                    <li><a href="#/discover" style="color:white;opacity:0.9">Discover</a></li>
                    <li><a href="#/post" style="color:white;opacity:0.9">Post</a></li>
                    <li><a href="#/login" style="color:white;opacity:0.9">Login</a></li>
                    <li><a href="#/register" style="color:white;opacity:0.9">Register</a></li>
                </ul>
            </div>
        </div>
        <div id="header-down">
            <div class="layout layout-row layout-margin">
                <md-datepicker ng-model="inputMoveInDate" md-placeholder="Move-In" style="width:170px;"></md-datepicker>
                <md-input-container md-no-float style="width:120px;margin-left:10px;">
                    <input type="number" step="10" ng-model="inputPriceMin"
                           min="0" max="10000" placeholder="$ Min"/>
                </md-input-container>
                <md-input-container md-no-float style="width:120px;margin-left:0px;">
                    <input type="number" step="10" ng-model="inputPriceMax"
                           min="0" max="10000" placeholder="$ Max"/>
                </md-input-container>
                <md-input-container md-no-float style="width:95px;margin-left:0px;">
                    <md-select ng-model="selectedQuantifier" placeholder="Per">
                        <md-option value="0" ng-selected="true">Month</md-option>
                        <md-option value="1">Day</md-option>
                    </md-select>
                </md-input-container>

                <md-input-container md-no-float style="width:240px;margin-left:15px;">
                    <md-select ng-model="selectedBedrooms"
                               multiple
                               placeholder="Bedrooms">
                        <md-optgroup label="bedrooms">
                            <md-option ng-value="''+$index" ng-repeat="bedroom in bedrooms">{{bedroom}}</md-option>
                        </md-optgroup>
                    </md-select>
                </md-input-container>

                <md-input-container md-no-float style="width:240px;margin-left:15px;">
                    <md-select ng-model="selectedBathrooms"
                               multiple
                               placeholder="Bathrooms">
                        <md-optgroup label="bathrooms">
                            <md-option ng-value="''+$index" ng-repeat="bathroom in bathrooms">{{bathroom}}</md-option>
                        </md-optgroup>
                    </md-select>
                </md-input-container>

                <div style="margin-left:34px;">
                    <input type="submit" id="submit-search" value="Search" ng-click="search()"/>
                    <input type="submit" id="submit-clear" value="Clear" ng-click="clearSearch()"/>
                </div>
            </div>
        </div>
    </div>
    <div id="main">
        <div id="main-left" class="floating">
            <div id="map-container">
                <ng-map id="ng-map"
                        style="height:100%"
                        center="40.785,-73.968"
                        zoom="12"
                        default-style="false"
                        on-click="closeAllCustomMarker()">
                    <marker ng-repeat="r in rentals"
                            position="{{r.latitude}},{{r.longitude}}"
                            on-click="showCustomMarker($index)"
                            icon="{{markerIcons[$index]}}">
                    </marker>
                    <custom-marker id="{{$index}}"
                                   ng-repeat="r in rentals"
                                   position="{{r.latitude}},{{r.longitude}}"
                                   on-click="closeCustomMarker($index)"
                                   ng-if="customMarkerShown[$index]">
                        <div class="custom-marker-container">
                            <img ng-src="{{googleCloudStorageBaseUrl}}/{{googleCloudStorageBucket}}/{{r.imageIds[0]}}">
                        </div>
                    </custom-marker>
                </ng-map>
            </div>
        </div>
        <div id="main-right" class="floating">
            <div style="width:100%;margin-left:30px;margin-top:8px;margin-bottom:8px;">
                <select ng-model="search.selectedSorter" name="sorter" ng-change="sort()"
                        ng-init="search.selectedSorter='latest'"
                        style="border:1px solid #ccc;font-size: 16px; height:30px; width:160px;">
                    <option value="latest" ng-selected="true">Latest</option>
                    <option value="expensive">Expensive</option>
                    <option value="cheap">Cheap</option>
                </select>
                <md-checkbox ng-model="search.showLiked" aria-label="only favorite" ng-init="search.showLiked=false"
                             class="md-primary"
                             style="margin-top:0px;margin-bottom:0px;margin-left:50px;"
                             ng-change="sort()">
                    Favourites
                    <p style="display:inline;margin-left:60px;font-size:16px;">{{totalIds}} results</p>
                </md-checkbox>
            </div>
            <div id="item-scroll">
                <div class="item-container"
                     ng-repeat="rental in rentals"
                     ng-init="rental_index=$index"
                     ng-mouseenter="toggleMarkerColor($index, 'red')"
                     ng-mouseleave="toggleMarkerColor($index, 'pink')">
                    <div class="img-container">
                        <a target="_self" ng-href="#/detail/{{rental.id}}">
                            <img ng-repeat="slide in rental.imageIds" ng-init="slide_index=$index" ng-hide="!isCurrentSlideIndex(rental_index, slide_index)" ng-src="{{googleCloudStorageBaseUrl}}/{{googleCloudStorageBucket}}/{{slide}}">
                        </a>
                        <input class="arrow-prev" type="image" src="../asset/image/arrow_prev_24.png" ng-click="prevSlide(rental_index)">
                        <input class="arrow-next" type="image" src="../asset/image/arrow_next_24.png" ng-click="nextSlide(rental_index)">
                    </div>
                    <div class="content-container">
                        <div class="upper-container">
                            <div class="text-price">${{rental.price}}</div>
                            <div class="text-quantifier">/ {{rental.quantifier}}</div>
                            <div class="button-selections">
                                <a class="button-like" ng-click="toggleLikeUnlike($index)">
                                    <img ng-src="{{rental.likedImg}}">
                                </a>
                            </div>
                        </div>
                        <div class="feature-container">
                            <div class="feature-content">
                                <div class="feature-number">{{rental.bedroom}},</div>
                            </div>
                            <div class="feature-content">
                                <div class="feature-number">{{rental.bathroom}}</div>
                            </div>
                        </div>
                        <div class="date-container">
                            Move-In: {{rental.moveInDate}}
                        </div>
                        <br>
                        <div class="time-container">{{rental.age}} ago</div>
                    </div>
                </div>
            </div>
            <div id="navi">
                <ul>
                    <li class="prev"><a ng-click="prevPages()"><span>Prev</span></a></li>
                    <li ng-repeat="page in pageList" ng-class="{active: isActivePage(page)}" >
                        <a ng-click="selectPage(page)" >{{page}}</a>
                    </li>
                    <li class="next"><a ng-click="nextPages()"><span>Next</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>
