#header-up {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 70px;
    background-color: white;
    border-bottom-style: solid;
    border-bottom-color: #D3D3D3;
    border-bottom-width: 1px;
}
#header-up div {
    float: left;
}
#header-icon {
    padding-left: 38px;
    width: 20%;
}
#header-icon img {
    width: 50%;
}
#header-menu {
    /*width: 80%;*/
    padding-top: 10px;
}
#header-menu ul li {
    display: inline;
    padding-left: 25px;
}
#header-menu ul li a {
    font-family: "Arial";
    font-size: 19px;
    font-weight: bold;
    color: #6d9eeb;
    text-decoration: none;
}
#body {
}
#body div {
    float: left;
}
#body-left {
    width: 65%;
    padding-left: 20px;
    padding-top: 20px;
}
#body-left-img {
    width: 100%;
    height: 450px;
}
#img-slider {
    background-color: black;
    height: 360px;
    width: 720px;
    margin-top: 20px;
    margin-left: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}
#img-slider img {
    width: auto;
    height: 100%;
    margin: auto;
    display:block;
}
.arrow {
    position: absolute;
    z-index: 1;
    display: block;
    top: 275px;
    margin-top: -35px;
    width: 36px;
    height: 71px;
    outline: none;
    cursor: pointer;
    background: url(../asset/image/blank.gif) no-repeat;
}
.arrow.prev {
    opacity: 0.8;
    left: 50px;
    background-image: url(../asset/image/paddle_prev_999.png);
    transition: 0.2s linear all;
}
.arrow.next {
    opacity: 0.8;
    left: 725px;
    background-image: url(../asset/image/paddle_next_999.png);
    transition: 0.2s linear all;
}
.arrow.prev:hover {
    opacity: 1;
    background-image: url(../asset/image/paddle_prev_fff.png);
}
.arrow.next:hover {
    opacity: 1;
    background-image: url(../asset/image/paddle_next_fff.png);
}

#img-slider .nav {
    margin: 0 auto;
    display: block;
    position: absolute;
    z-index: 2;
    top: 400px;
    left: 250px;
    right: 0;
    height: 48px;
}
#img-slider .nonDraggableImage{
    -webkit-user-drag: none;
}
#img-slider .nav .wrapper {
    margin: 0 auto;
    display: block;
    width: 100%;
    padding: 1em 0 .8em;
}
#img-slider .nav ul {
    margin: 0 auto;
    display: block;
    width: 100%;
}
#img-slider .nav .dot, .nav .dot a {
    display: inline-block;
    zoom: 1;
}
#img-slider .dots .dot {
    position: relative;
    margin: 0 8px;
    width: 12px;
    height: 12px;
}
#img-slider .dots .dot a {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 6px;
    height: 6px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: #FFF;
    border: 1px solid transparent;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s, border-color 0.25s;
    -moz-transition: background-color 0.25s, border-color 0.25s;
    transition: background-color 0.25s, border-color 0.25s;
    cursor: pointer;
}
#img-slider .dots .dot a.active {
    border-color: #FFF;
    background-color: transparent;
}
#body-right {

}
