<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skyline: Short Term Rentals</title>
</head>
<body>
<!--<p id="photo-title">Photos:</p>-->
<div id="img-display-wrapper">
    <div id="img-display" ng-repeat='image in images'>
        <img data-ng-src={{image.base64}} ng-click="remove($index)">
    </div>
    <div id="img-upload">
        <input type='file' file-model="myFile">
    </div>
</div>
<div layout-gt-xs="row" style="margin-top:40px;margin-left=0px;">
    <div flex-gt-xs style="margin-left:-15px;">
        <md-datepicker ng-model="inputMoveInDate" md-placeholder="Move-in"></md-datepicker>
    </div>
    <div flex-gt-xs style="margin-left:100px;">
        <md-datepicker ng-model="inputMoveOutDate" md-placeholder="Move-out"></md-datepicker>
    </div>
</div>

<div layout-gt-xs="row" style="margin-top:30px;margin-left=0px;">
    <md-input-container style="width:550px;">
        <label>Rent (USD)</label>
        <input required type="number" step="10" name="rent" ng-model="inputPrice" min="0" max="10000"/>
    </md-input-container>
    <md-input-container style="width:100px;margin-left:20px;">
        <label>Per</label>
        <md-select ng-model="selectedQuantifier">
            <md-option value=0 ng-selected="true">Month</md-option>
            <md-option value=1>Daily</md-option>
        </md-select>
    </md-input-container>
</div>

<div layout-gt-xs="row" style="margin-top:20px;margin-left=0px;">
    <md-input-container style="width:350px;margin-left:0px;">
        <label>Bedrooms</label>
        <md-select required ng-model="selectedBedroom">
            <md-option value=0>Studio</md-option>
            <md-option value=1>1 Bed</md-option>
            <md-option value=2>2 bed</md-option>
            <md-option value=3>3 Bed</md-option>
        </md-select>
    </md-input-container>
    <md-input-container style="width:350px;margin-left:50px;">
        <label>Bathrooms</label>
        <md-select required ng-model="selectedBathroom">
            <md-option value=0>Shared</md-option>
            <md-option value=1>1 Bath</md-option>
            <md-option value=2>2 Bath</md-option>
            <md-option value=3>3 Bath</md-option>
        </md-select>
    </md-input-container>
</div>

<div id="address-input-wrapper">
    <p>Address:</p>
    <input type="text"
           ng-model="address"
           places-auto-complete
           component-restrictions="{country:'us'}"
           types="{{types}}"
           on-place-changed="placeChanged()">
    <ng-map center="[40.785,-73.968]" zoom="12"></ng-map>
</div>
<div id="description-wrapper">
    <p>Description:</p>
    <textarea name="" cols="120" rows="30" ng-model="description"></textarea>
</div>
<div id="post-button-wrapper">
    <button class="post-button" ng-click="send()">Submit</button>
</div>
</body>
</html>
