<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Journey: Start Your Journey with Your New Home</title>
</head>
<body ng-app="skyline-detail">
<div id="header">
    <div id="header-top">
        <div id="header-icon" style="margin-top:5px;">
            <label style="font-size:32px;font-family:Trebuchet MS">journey</label>
        </div>
        <div id="header-menu">
            <ul>
                <li><a href="#/discover" style="color:white;opacity:0.9">HOME</a></li>
                <li><a href="#/discover" style="color:white;opacity:0.9">DISCOVER</a></li>
                <li><a href="#/dashboard" style="color:white;opacity:0.9;">POST RENTAL</a></li>
                <li><a href="#/register" style="color:white;opacity:0.9">SIGN UP</a></li>
            </ul>
        </div>
    </div>
</div>
<div id="body">
    <div id="body-left" ng-controller="imageSlideController">
        <div ng-cloak>
            <md-content style="margin-left:25px;">
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="Photos">
                        <div id="body-left-img">
                            <div id="img-slider">
                                <img ng-repeat="slide in slides"
                                     ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()"
                                     ng-hide="!isCurrentSlideIndex($index)"
                                     ng-src="{{googleCloudStorageBaseUrl}}/{{googleCloudStorageBucket}}/{{slide}}">
                                <a class="arrow prev" ng-click="nextSlide()"></a>
                                <a class="arrow next" ng-click="prevSlide()"></a>
                                <nav class="nav">
                                    <div class="wrapper">
                                        <ul class="dots">
                                            <li class="dot" ng-repeat="slide in slides">
                                                <a ng-class="{'active':isCurrentSlideIndex($index)}"
                                                   ng-click="setCurrentSlideIndex($index);"></a>
                                            </li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </md-tab>
                    <md-tab label="Street View">
                        <div style="width:720px; height:360px;margin-top:20px" id="street-view">
                            <ng-map id="ng-map-streetview"
                                    street-view="StreetViewPanorama(document.querySelector('#street-view'), {position:new google.maps.LatLng({{latitude}},{{longitude}})})">
                            </ng-map>
                        </div>
                    </md-tab>
                    <md-tab label="Map View">
                        <div style="width:720px;height:360px;">
                            <ng-map id="ng-map-mapview" zoom="14" center="40.785,-73.968"
                                    style="height:100%;margin-top:20px;">
                                <marker position="{{rental.latitude}},{{rental.longitude}}"></marker>
                            </ng-map>
                        </div>
                    </md-tab>
                </md-tabs>
            </md-content>
        </div>
        <div id="body-left-info">
            <div class="info-left">
                <div style="">{{short_address}}</div>
                <div style="margin-top:15px;">
                    <div style="display:inline;font-size:15px;">Move-in: {{moveInDate}}</div>
                    <div style="display:inline;margin-left:50px;font-size:15px;color:grey">Updated {{rentalAge}} ago
                    </div>
                </div>
            </div>
            <div class="info-right">
                <div style="display:inline;">${{rental.price}}</div>
                <div style="font-size:12px;margin-top:30px;margin-left:-5px;display:inline;">/ {{rental.quantifier}}
                </div>
            </div>
        </div>
        <div id="body-left-feature">
            <div class="feature-list">
                <div class="feature-item">
                    <img src="../asset/image/bed.png">
                    <div class="feature-text">
                        <div style="text-align:center;">{{bedroom}}</div>
                        <div style="color: grey; margin-left:0px;">Bed</div>
                    </div>
                </div>
                <div class="feature-item">
                    <img src="../asset/image/bathtub.png">
                    <div class="feature-text">
                        <div style="text-align:center;">{{bathroom}}</div>
                        <div style="color:grey;margin-left:0px;">Bath</div>
                    </div>
                </div>
            </div>
        </div>
        <div id="body-left-description">
            <div class="description-title">
                Description:
            </div>
            <div class="description-content">
                <pre style="white-space:pre-wrap;width:700px;">{{rental.description}}</pre>
            </div>
        </div>
    </div>
</div>
</body>
</html>
